@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  font-weight: 600;
  color: white;
  background-color: #EBAD02;
}

.sectionOne-dog {
  background-image: url("../../public/assets/sectionOne/dog.svg");
  background-position: right;
  height: 100vh;
  background-repeat: no-repeat;
}

.footer-container {
  padding: 5rem 4rem;
  flex: auto;
  columns: 3;
}

.footer-section ul {
  list-style: none;
  padding-left: 0;
}

.footer-icons {
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.footer-section .search {
  display: flex;
  align-items: right;
  height: 2rem;
}

.footer-section .search {
  display: inline-flex;
  background-color: #fec501;
  border: none;
  align-self: right;
}

.footer-section .tg-icon {
  background-color: #00BFCC;
  height: 2rem;

}