@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,900&display=swap");

body {
  font-family: Poppins;
  background-color: #fec400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  font-weight: 600;
  color: white;
  background-color: #ebad02;
}

.sectionOne-dog {
  background-image: url("../../public/assets/sectionOne/dog.svg");
  background-position: right;
  height: 100vh;
  background-repeat: no-repeat;
  background-color: #fec400;
  margin-top: 100px;
}

.footer-container {
  padding: 5rem 4rem;
  flex: auto;
  columns: 3;
}

.footer-section ul {
  list-style: none;
  padding-left: 0;
}

.footer-icons {
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.footer-section .search {
  display: flex;
  align-items: right;
  height: 2rem;
}

.footer-section .search {
  display: inline-flex;
  background-color: #fec501;
  border: none;
  align-self: right;
}

.footer-section .tg-icon {
  background-color: #00bfcc;
  height: 2rem;
}

.sectionOne-dog {
  color: white;
}

.SectionOne {
  font-size: 2rem;
}

.sectionOne-dog-heading {
  font-size: 2.5rem;
}

.sectionOne-dog-paragraph {
  font-size: 1.5rem;
}

.efbtn-lg {
  background-color: #00c0cb;
  border: none;
  padding: 15px 20px;
  border-radius: 10px;
  margin-right: 20px;
}
.efbtn-lg-1 {
  background-color: transparent;
  border-color: white;
  padding: 15px 20px;
  border-radius: 10px;
}
