/*--- Third-Section and Fifth- Section by Darko Css ---*/

.third-section,
.fifth-section {
  text-align: center;
  color: #fff;
  background-color: #fcc302;
  padding: 100px 0px;
}

.third-section .third-section-title,
.fifth-section .fifth-section-title {
  font-size: 75px;
  font-weight: 600;
  margin-bottom: 20px;
}
.third-section .third-section-subtitle,
.fifth-section .fifth-section-subtitle {
  font-size: 33px;
  max-width: 600px;
  margin: auto;
  margin-bottom: 60px;
}

.third-section .third-section-card,
.fifth-section .fifth-section-card {
  padding: 30px;
}

.third-section .third-section-card img,
.fifth-section .fifth-section-card img {
  display: block;
  height: auto;
  width: 100%;
}
.third-section-card .third-section-card-text,
.fifth-section-card .fifth-section-card-text {
  margin-top: 30px;
}

.third-section .third-section-card-text h4,
.fifth-section .fifth-section-card-text h4 {
  font-size: 37px;
  font-weight: bold;
}

.third-section .third-section-card-text p {
  font-size: 25px;
  margin-top: 20px;
}

.fifth-section .fifth-section-line-through {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.fifth-section .fifth-section-line-through::before {
  content: "";
  display: block;
  position: relative;
  background-color: white;
  left: -0px;
  right: 25px;
  top: 25px;
  width: 100px;
  height: 3px;
}

.fifth-section .fifth-section-card-button {
  margin-top: 20px;
  background-color: #00bec9;
  color: #fff;
  outline: none;
  border: none;
  padding: 10px 29px;
  border-radius: 20px;
}

.fifth-section .fifth-section-card-button:hover {
  margin-top: 20px;
  color: #00bec9;
  background-color: #fff;
  outline: none;
  border: none;
  padding: 10px 29px;
  border-radius: 20px;
}

@media (max-width: 992px) {
  .third-section,
  .fifth-section {
    padding: 80px 0px;
  }
  .third-section .third-section-title,
  .fifth-section .fifth-section-title {
    font-size: 50px;
  }
  .third-section .third-section-subtitle,
  .fifth-section .fifth-section-subtitle {
    font-size: 28px;
  }
  .third-section .third-section-card-text h4,
  .fifth-section .fifth-section-card-text h4 {
    font-size: 25px;
  }
  .third-section .third-section-card-text p {
    font-size: 20px;
  }
  .fifth-section .fifth-section-line-through::before {
    top: 18px;
  }
}

@media (max-width: 767px) {
  .third-section,
  .fifth-section {
    padding: 60px 0px;
  }
  .third-section .third-section-title,
  .fifth-section .fifth-section-title {
    font-size: 40px;
  }
  .third-section .third-section-subtitle,
  .fifth-section .fifth-section-subtitle {
    font-size: 25px;
    padding: 0 10px;
  }
}

/*--- End Third-Section and Fifth- Section by Darko Css ---*/
